
  body {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    background-color:rgba(23, 107, 107, 0.5);
    margin: 0px;
    padding-top: 0px;
}
h1, h2, h3, h4, h5, h6, label,p {
  color: rgb(54, 54, 112);
    font-family: "Jost", sans-serif;

  }
* {
    box-sizing: border-box;
}

.hero {
    resize: none;
    margin: 50px;
    height: 40%;
    background: whitesmoke;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
   
}
  h3{
      margin-left: 15px;
  }
  .navbar{
      margin: 20px 0px;
      background-color: rgba(85, 156, 156, 0.5);
      height: 77%;
  }

  .navbar ul li {
    padding:10px 5px;
    text-decoration: none;
    margin: 20px 20px;
    font-size: 15px;
    display: block;

  }
    .navbar  ul li :hover{
        color: rgb(54, 54, 112);
        cursor: pointer;
        }
  
  .main {
      max-height: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
   
    
}
.box{
  display: flex;
  flex-wrap: wrap;
}
.showp{
  width: 500px;
  height: 400px;
  border-radius: 5px;
  padding: 40px 40px;
}
.showp > button{
  margin-bottom: 60px;
  
}
.mouse {
  height: 190px;
  justify-content: center;
  width: auto;
}
.product{
  justify-content: center;
  padding: 10px ;
  display: flex;
  flex-wrap:wrap;
    position: relative;
    width: auto;
    height: 300px;
    margin: 30px;
    background: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
  }

 .img {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
     margin-top: 80px;
     margin-bottom: 60px;
     width:600px;
     height: 400px;

 }
 .text {
     font-size: 20px;
    margin-top: 150px;
    margin-left: 40px;
    color: rgb(54, 54, 112);
    
 }
 .a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
 }
 .logo{
     border-radius: 50%;
     background-color: rgba(85, 156, 156, 0.5);
 }
 .logo .text{
     text-decoration: dotted;
     font-size: 20px;
     font-weight: 800;

 }

 .btn{
     text-decoration: none;
     justify-content: center;
     margin: 55px;
     width: 180px;
     padding: 10px;
     color: white;
     border-radius: 30px;
     background-color:rgb(62, 62, 179);

 }
 .hero input, textarea {
    resize: none;
    padding: 10px;
    border: 1px solid lightblue;
    display: block;
    width: 100%;
    border-radius: 7px;
    font-size: large;
}

.hero button {
    display: block;
  margin: 30px auto 5px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: large;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: rgb(85, 156, 156);
    transition: 0.3s ease-in-out;
}
hr {
    width: 80%;
    border: 1px solid white;
}
.contact{
    margin:10px 140px;
}
.section-title{
    color: white;
    font-weight: 100;
    margin-left: 250px;
}
.row{
    width: 500px;
    padding: 50px 20px;
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 1190px){
  .main{
    flex-direction: column;
    margin: 0px;
    width: fit-content;
    height: fit-content;
  }
  .navbar{
    height: fit-content;
    width: fit-content;
    justify-content: center;
    margin: 20px;
  }
  .su
  .logo{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0px auto;

  }
  .hero{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    margin: 20px 0px;
  }
  .text{
    font-size: small;
    margin-top: 500px;
    margin: 90px;
    padding: 40px;
    margin: 0px;
    
  }
 hr{
    display: none;
  }
  .section-title{
    padding: 0px;
    margin: 0px;
    font-size: small;
  }
  .img{
    width: max-content;
  }
}
@media screen and (max-width:1000px){
  .img{
    display: none;
  }
}

 
  
  